{% extends 'index.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid mt-4">
        <div class="row">
            <button id="toggle-form" class="btn btn-primary mb-3">Show/Hide Product Form</button>
            
            <div class="row mb-3">
                <div class="col-md-12">
                    <div class="d-flex align-items-center">
                        <div class="form-check me-3">
                            <input class="form-check-input mb-2" type="checkbox" id="select-all"
                                   onchange="toggleSelectAll(this)">
                            <label class="form-check-label" for="select-all">Select All</label>
                        </div>
                        <select id="bulk-action" class="form-select me-2" style="width: 200px;">
                            <option value="">-- Bulk Actions --</option>
                            <option value="assign-category">Assign to Category</option>
                            <option value="remove-category">Remove from Category</option>
                            <option value="assign-warehouse">Assign to Warehouse</option>
                            <option value="remove-warehouse">Remove from Warehouse</option>
                            <option value="assign-shelf">Assign to Shelf</option>
                            <option value="remove-shelf">Remove from Shelf</option>
                            <option value="assign-manufacturer">Assign Manufacturer</option>
                            <option value="remove-manufacturer">Remove from Manufacturer</option>
                            <option value="delete">Delete</option>
                        </select>
                        
                        <select id="bulk-category" class="form-select me-2" style="width: 200px; display: none;">
                            <option value="">-- Select Category --</option>
                        </select>
                        
                        <select id="bulk-warehouse" class="form-select me-2" style="width: 200px; display: none;">
                            <option value="">-- Select Warehouse --</option>
                        </select>

                        <select id="bulk-shelf" class="form-select me-2" style="width: 200px; display: none;">
                            <option value="">-- Select Shelf --</option>
                        </select>
                        
                        <select id="bulk-manufacturer" class="form-select me-2" style="width: 200px; display: none;">
                            <option value="">-- Select Manufacturer --</option>
                        </select>
                        
                        <button onclick="applyBulkAction()" class="btn btn-primary mb-3">Apply</button>
                    </div>
                </div>
            </div>

            <div class="product-form-wrapper" style="display: none">
                <div class="product-form-container">

                    <section>

                        <h2>Save product</h2>
                        <input type="hidden" id="product-id">
                        <input type="text" id="product-name" placeholder="Product name"><br>
                        <input type="text" id="product-sku" placeholder="SKU"><br>
                        <input type="text" id="product-model" placeholder="Model"><br>
                        <input type="text" id="product-model-2" placeholder="Model 2"><br>
                        <input type="text" id="product-model-3" placeholder="Model 3"><br>
                        <input type="text" id="product-model-4" placeholder="Model 4"><br>
                        <input type="text" id="product-model-5" placeholder="Model 5"><br>
                        <input type="number" id="product-barcode" placeholder="Barcode"><br>
                        <input type="text" id="product-quantity" placeholder="Quantity"><br>
                        <input type="number" id="product-sell-price" placeholder="Sell Price"><br>
                        <input type="number" id="product-buy-price" placeholder="Buy Price"><br>

                    </section>

                    <section>
                        <input type="text" id="box" placeholder="Box"><br>
                        <input type="text" id="bag" placeholder="Bag"><br>
                        <textarea name="additional_info" id="additional_info" cols="20" rows="5"
                                  placeholder="Additional info"></textarea>

                        <select id="warehouse">
                            <option value="">-- Select Warehouse --</option>
                        </select>

                        <select id="shelf">
                            <option value="">-- Select Shelf --</option>
                        </select>

                        <select id="product-vendor" multiple>
                            <option value="">-- Select Vendor --</option>
                        </select>

                        <select id="product-manufacturer">
                            <option value="">-- Select Manufacturer --</option>
                        </select>

                        <select id="product-category">
                            <option value="">-- Select Category --</option>
                        </select>

                        <input type="hidden" id="csrftoken" value="{{ csrf_token }}">
                        <button onclick="saveProduct()" class="btn btn-primary mt-3" id="save-product-btn">Add product
                        </button>
                        <button onclick="resetForm()" class="btn btn-secondary mt-3">Cancel</button>

                    </section>

                </div>
            </div>
        </div>
        <h1 class="mt-3">My products</h1>
        <table class="table table-bordered table-hover mt-4" id="products-table">
            <thead>
            <tr>
                <th>-</th>
                <th>Name</th>
                <th>SKU</th>
                <th>Model</th>
                <th>Vendor</th>
                <th>Warehouse</th>
                <th>Shelf</th>
                <th>Box</th>
                <th>Bag</th>
                <th>Sell Price</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>

        <div id="product-details" class="mt-4 p-3 border rounded bg-light" style="display: none;">
            <h4>Product Details</h4>
            <button class="btn btn-secondary close-details-btn">Close</button>
            <p><strong>Name:</strong> <span id="detail-name"></span></p>
            <p><strong>SKU:</strong> <span id="detail-sku"></span></p>
            <p><strong>Model:</strong> <span id="detail-model"></span></p>
            <p><strong>Barcode:</strong> <span id="detail-barcode"></span></p>
            <p><strong>Quantity:</strong> <span id="detail-quantity"></span></p>
            <p><strong>Category:</strong> <span id="detail-category"></span></p>

            <p><strong>Warehouse:</strong> <span id="detail-warehouse"></span></p>
            <p><strong>Shelf:</strong> <span id="detail-shelf"></span></p>
            <p><strong>Box:</strong> <span id="detail-box"></span></p>
            <p><strong>Bag:</strong> <span id="detail-bag"></span></p>

            <p><strong>Vendors:</strong> <span id="detail-vendors"></span></p>
            <p><strong>Manufacturer:</strong> <span id="detail-manufacturer"></span></p>
            <p><strong>Model-2:</strong> <span id="detail-model-2"></span></p>
            <p><strong>Model-3:</strong> <span id="detail-model-3"></span></p>
            <p><strong>Model-4:</strong> <span id="detail-model-4"></span></p>
            <p><strong>Model-5:</strong> <span id="detail-model-5"></span></p>

            <p><strong>Sell price:</strong> <span id="detail-sell-price"></span></p>
            <p><strong>Buy price:</strong> <span id="detail-buy-price"></span></p>

            <p><strong>Created-at:</strong> <span id="detail-created-at"></span></p>
            <p><strong>Updated-at:</strong> <span id="detail-updated-at"></span></p>
            <p><strong>Additional-info:</strong> <span id="detail-additional-info"></span></p>

        </div>
    </div>

    <script>
        window.env = {
            API_BASE_URL: "{{ api_url_base }}"
        };
    </script>

    <script src="{% static 'js/products.js' %}"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const toggleButton = document.getElementById('toggle-form');
            const formWrapper = document.querySelector('.product-form-wrapper');

            toggleButton.addEventListener('click', function () {
                if (formWrapper.style.display === 'none' || formWrapper.style.display === '') {
                    formWrapper.style.display = 'block';
                    toggleButton.textContent = 'Hide Product Form';
                } else {
                    formWrapper.style.display = 'none';
                    toggleButton.textContent = 'Show Product Form';
                }
            });
        });
    </script>
    
{% endblock %}

